Django==5.0.6
asgiref
pytz
sqlparse
pillow
django-simple-captcha
captcha
django-multi-captcha-admin
django-robots
django-debug-toolbar
django-compressor
djangorestframework
requests
numpy
scikit-learn
nltk