{% extends 'base.html' %}
{%load static%}
{%load compress%}
{% block content %}
	<!-- head -->
	<section class="section section--head section--head-fixed" >
		<div class="container">
			<div class="row" style="justify-content: end; text-align: right;">
				<div class="col-12 col-xl-6">
					<h1 class="section__title section__title--head">فیلم تو- بهترین مکان برای پیشنهاد فیلم</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- end head -->

	<!-- about -->
	<section class="section section--pb0" style="direction: rtl;">
		<div class="container">
			<div class="row" style="justify-content: end; text-align: right;">
				<!-- section text -->
				<div class="col-12">
					<p class="section__text section__text--small">من دانشجوی کارشناسی مهندسی کامپیوتر با علاقه‌ای عمیق به تحلیل داده و یادگیری ماشین هستم و تلاش می‌کنم که در این حوزه پیشرفت کنم.  </p>

					<p class="section__text section__text--small">این سایت پیشنهاد فیلم، نتیجه علاقه و تلاش من برای ترکیب داده و فناوری در ساخت سیستمی هوشمند است. در این پروژه، با استفاده از یادگیری ماشین و تحلیل داده‌ها، سیستمی طراحی کرده‌ام که بر اساس سلیقه کاربران، فیلم‌های مناسب را پیشنهاد می‌دهد.</p>
					<p class="section__text section__text--small">این تجربه به من کمک کرده تا علاوه بر مفاهیم داده و هوش مصنوعی، مهارت‌های خود در طراحی و توسعه وب را نیز گسترش دهم. امیدوارم این سایت بتواند به شما کمک کند تا فیلم‌های جدید و هیجان‌انگیزی کشف کنید و از تجربه کار با آن لذت ببرید.
					</p>
				</div>
				<!-- end section text -->
			</div>
		</div>
	</section>
	<!-- end about -->




{%endblock%}