{% extends 'base.html' %}
{%load static%}
{%load compress%}
{% block content %}
	<!-- head -->
	<section class="section section--head section--head-fixed" >
		<div class="container">
			<div class="row" style="justify-content: end; text-align: right;">
				<div class="col-12 col-xl-6">
					<h1 class="section__title section__title--head">فیلم تو- بهترین مکان برای پیشنهاد فیلم</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- end head -->

	<!-- about -->
	<section class="section section--pb0" style="direction: rtl;">
		<div class="container">
			<div class="row" style="justify-content: end; text-align: right;">
				<!-- section text -->
				<div class="col-12">
					<p class="section__text section__text--small">من دانشجوی کارشناسی مهندسی کامپیوتر در دانشگاه آزاد اسلامی، واحد علم و تحقیقات هستم و به بررسی دنیای در حال تحول تکنولوژی علاقه‌مندم. از سال 1399 من به طور عمیق در برنامه‌نویسی مشغول بوده‌ام و کار خود را با تکنولوژی‌های بنیادی وب مانند HTML، CSS و JavaScript آغاز کرده‌ام. سفر من به دنیای پایتون ختم شد، جایی که به فریم‌ورک Django، یکی از قدرتمندترین ابزارها برای ساخت برنامه‌های وب پویا، وارد شدم.</p>

					<p class="section__text section__text--small">با گذشت زمان، مهارت‌های خود را در زمینه توسعه API و  Django  بهبود بخشیدم که به من این امکان را داده است تا خدمات وب کارآمد و مقیاس‌پذیری بسازم. کنجکاوی من برای تکنولوژی‌های پیشرفته همچنین مرا به سمت زمینه جذاب هوش مصنوعی سوق داده است، به‌ویژه با تمرکز بر سیستم‌های توصیه‌گر. من از این دانش برای ساخت سیستم‌های هوشمندی که تجربه‌های کاربری را با ارائه پیشنهادات شخصی‌سازی شده بهبود می‌بخشد، استفاده کرده‌ام.</p>
					<p class="section__text section__text--small">با یک پایه محکم در توسعه نرم‌افزار و رویکردی پیشرو، به یادگیری و رشد ادامه می‌دهم و هدفم این است که راه‌حل‌های مبتنی بر هوش مصنوعی را در نسل بعدی برنامه‌های وب ادغام کنم.

					</p>
				</div>
				<!-- end section text -->
			</div>
		</div>
	</section>
	<!-- end about -->




{%endblock%}