{% extends 'base.html' %}
{%load static%}
{%load compress%}
{% block content %}
	<!-- head -->
	<section class="section section--head section--head-fixed">
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-6">
					<h1 class="section__title section__title--head">MovieForYou – Best place for movies</h1>
				</div>

				<div class="col-12 col-xl-6">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="index.html">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">AboutUs</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- end head -->

	<!-- about -->
	<section class="section section--pb0">
		<div class="container">
			<div class="row">
				<!-- section text -->
				<div class="col-12">
					<p class="section__text section__text--small">I am a senior Computer Science student at the Islamic Azad University, Science and Research Branch, passionate about exploring the ever-evolving world of technology. Since 2022, I have been deeply involved in programming, beginning with fundamental web development technologies such as HTML, CSS, and JavaScript. My journey led me to Python, where I immersed myself in Django, one of the most powerful frameworks for building dynamic web applications.</p>

					<p class="section__text section__text--small">Over time, I have honed my skills in API development and the Django Rest Framework, which has enabled me to craft efficient and scalable web services. My curiosity for cutting-edge technology has also driven me toward the fascinating field of Artificial Intelligence, with a specific focus on recommender systems. I’ve applied this knowledge to build intelligent systems that enhance user experiences by providing personalized recommendations.</p>
					<p class="section__text section__text--small">With a solid foundation in software development and a forward-thinking approach, I continue to learn and grow, aiming to integrate AI-powered solutions into the next generation of web applications.</p>
				</div>
				<!-- end section text -->
			</div>
		</div>
	</section>
	<!-- end about -->




{%endblock%}