{% extends 'base.html' %}
{%load static%}
{%load compress%}
{% block content %}
	<!-- head -->
	<section class="section section--head section--head-fixed ta" style="direction: rtl;">
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-6">
					<h1 class="section__title section__title--head">تماس با ما</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- end head -->

	<!-- contacts -->
	<section class="section section--pb0 ta" style="direction: rtl;">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-7 col-xl-8">
					<form action="{%url 'website:contact' %}" method="post" class="sign__form sign__form--contacts">
						{%csrf_token%}
						<div class="row">
							<div class="col-12 col-xl-6">
								<div class="sign__group">
									<input type="text" name="name" class="sign__input" placeholder="نام">
								</div>
							</div>

							<div class="col-12 col-xl-6">
								<div class="sign__group">
									<input type="email" name="email" class="sign__input" placeholder="ایمیل">
								</div>
							</div>

							<div class="col-12">
								<div class="sign__group">
									<input type="text" name="subject" class="sign__input" placeholder="موضوع">
								</div>
							</div>

							<div class="col-12">
								<div class="sign__group">
									<textarea name="message" class="sign__textarea" placeholder="پیام..."></textarea>
								</div>
							</div>

							<div class="col-12 col-xl-3">
								<div class="pb-7">{{form.captcha}}</div>
								<button type="submit" class="sign__btn">ارسال</button>
							</div>
						</div>
					</form>	
				</div>

				<div class="col-12 col-lg-5 col-xl-4">
					<h2 class="section__title section__title--sidebar">اطلاعات ما</h2>
					<ul class="contacts__list">
						<li><a class="ta" href="tel:+989123055214">+989123055214</a></li>
						<li><a href="parniaahashemi@gmail.com">parniaahashemi@gmail.com</a></li>
					</ul>
					
				</div>
			</div>
		</div>
	</section>
	<!-- end contacts -->



{%endblock%}