{% load static %}
{% load compress %}

<form method="get" action="{% url 'blog:movies_view' %}">
    {% csrf_token %}
    <select class="catalog__select" name="genres" onchange="this.form.submit();">
        <option value="">Select genres</option>
        <option value="{% url 'blog:index' %}">All genres</option>
        {% for name, count in categories.items %}
        <option value="{% url 'blog:category' cat_name=name %}">
            {{ name }} / {{ count }}
        </option>
        {% endfor %}
    </select>
</form>
